@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TPWK1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="sidebar-left"></div>
        <div class="content">
            <h2>List</h2>
            <ol>
                <li>Item</li>
                <li>Item</li>
                <li>Item</li>
            </ol>
        </div>
        <div class="sidebar-right"></div>
        <div class="footer"></div>
    </div>
</body>
</html>

